*{
    top: 0px;
    padding: 0px;
    margin: 0px;
}
.heading{
    background-color: brown;
}
.heading > i+p{
    display: inline-block;
}
.heading> i{
    font-size: 30px;
    color: white;
}
.heading>p{
    color: white;
    font-size: 30px;
    font-weight: 300;
    padding: 15px;
}
.images{
    width: 770px;
    margin: 25px auto;
    padding: 20px;
    background-color: rgba(239, 226, 226);
    border-radius: 5px;
}
.images>h1{
    color: navy;
}
.main>.img:hover{
    opacity: 0.5;
    cursor: pointer;
    
}
.main{
    width: 80vw;
    display: grid;
    grid-auto-rows: 200px;
    gap: 15px;
    margin: 25px auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
}
.img img{
    width: 302px;
    height: 200px;
    transition: 200ms;
    position: relative;
    border-radius: 10px;
}
.img i{
    position: absolute;
    top: 40%;
    left: 45%;
    transform: scale(0);
    transition: 300ms;
    /* align-items: center; */
    width: 80px;
    align-self: center;
}
.img>i:hover{
    
    width: 80px;
}
.img:hover i{
    transform: scale(1.1);
}